body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header {
  height: 35px;
  width: 100%;
  border-bottom: 2px solid lightgray;
}
.menu {
  width: 70%;
  margin: auto;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
  }
  button {
    display: none;
    background-color: white;
    border: 0px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
.icon {
  height: 35px;
  width: 30px;
}
.select {
  max-width: 1320px;
  display: flex;
  margin: auto;
  margin-top: 70px;
  justify-content: space-between;
}
.type {
  width: 500px;
  height: 200px;
  display: block;
}
.type ul {
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  li {
    margin-bottom: 9px;
    span {
      color: #9a9999;
    }
  }
}
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1320px;
  margin: auto;
}
.img {
  object-fit: cover;
  padding: 46px 19px;
  background-color: #f5f5f5;
}
.nameprice {
  display: flex;
  justify-content: space-between;
}
.shoe {
  margin-top: -7px;
  color: #9a9999;
  font-size: 14px;
}
.stock {
  color: #9a9999;
  font-size: 14px;
  margin-bottom: -20px;
}
h2 {
  font-size: 17px;
  font-weight: 700;
}
@media screen and (max-width: 990px) and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: end;
    ul {
      display: none;
    }
    button {
      display: inline-block;
    }
    button:hover {
      cursor: pointer;
    }
  }
  .select {
    flex-direction: column;
    gap: 20px;
  }
  .product {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: end;
    ul {
      display: none;
    }
    button {
      display: inline-block;
    }
    button:hover {
      cursor: pointer;
    }
  }
  .select {
    flex-direction: column;
    gap: 20px;
  }
  .product {
    justify-content: center;
  }
}
