body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
}
p{
    color: #A2A2A2;
}
h3{
    color: #1560bd;
}
.Card{
    width: 270px;
    height: 300px;
    border: 1px solid #788EB2 ;
    display: inline-block;
    background-color: #FDFDFD;
    padding: 20px;
    border-radius: 10px;
}
.Cards{
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 6%;
    margin-top: 10px;
    
}
.Card:hover{
    cursor: pointer;
    transition: all 1s;
    background-color: blue;
    p{
        color: white;
    }
    h3{
        color: white;
    }
}